{% extends "base_template.html" %}

{% block title %} Main Page {% endblock %}

{% block main %}

<div class="container">
    <div class="row ml-0 mr-0">

        <div class="col-sm-6 col-md-6 col-lg-6 mx-auto" >
            <div class="card">
                <div class="card-header text-center">
                    Michael Considine
                </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p> LinkedIn: <a href="https://www.linkedin.com/in/mconsidin/">https://www.linkedin.com/in/mconsidin/</a></p>
                        <p> GitHub: <a href="https://github.com/consimike">https://github.com/consimike</a></p>
                      <footer class="blockquote-footer">"Success does not consist in never making mistakes but in never making the same one a second time." -George Bernard Shaw
                      </footer>
                    </blockquote>
                  </div>
            </div>

        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 mx-auto" >
            <div class="card">
                <div class="card-header text-center">
                    Eduardo Licea
                </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <p> LinkedIn: <a href="https://www.linkedin.com/in/eddie-licea/">https://www.linkedin.com/in/eddie-licea/</a></p>
                      <footer class="blockquote-footer">"Your time is limited, so don't waste it living someone else's life.
                          Don't be trapped by dogma – which is living with the results of other people's thinking." -Steve Jobs
                      </footer>
                    </blockquote>
                  </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}